.node__root>circle {
    fill: red;
    font-weight: lighter;
}

.node__branch>circle {
    fill: yellow;
}

.node__leaf>circle {
    fill: green;
    /* Let's also make the radius of leaf nodes larger */
    font: 1em sans-serif;
}