.node__root>circle {
    fill: red;
    font-weight: lighter;
}

.node__branch>circle {
    fill: orange;
    font-weight: 100;
}

.node__leaf>circle {
    fill: rgba(194, 140, 41, 0.682);
    /* Let's also make the radius of leaf nodes larger */
    font-weight: 100;
}

.svg {
    font-size: small;
    font-style: normal;
    font-weight: lighter;
    white-space: unset;
}