.node__root>g>rect {
    fill: red;

}

.node__branch>g>rect {
    fill: orange;
    stroke: black;
    stroke-width: 2;
}

.node__leaf>g>rect {
    fill: rgba(194, 140, 41, 0.682);
    /* stroke-width: 2; */
}


.rd3t-label>text {
    font-style: normal;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px
}